torch>=2.1
torchvision
numpy
pandas
scikit-learn
scipy
timm
segmentation-models-pytorch
terratorch
torchgeo
transformers
pytorch-lightning
torchmetrics
wandb
tqdm
opencv-python-headless
rasterio
shapely
pyproj
xarray
rioxarray
scikit-image
albumentations
hydra-core
omegaconf
